.jumbotron {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: wheat;
}
.quizHeader {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightseagreen;
}
.question1 {
  padding-bottom: 20px;
  padding-right: 250px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: thistle;
}
.question2 {
  padding-bottom: 20px;
  padding-right: 250px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: lightgrey
}
.question3 {
  padding-bottom: 20px;
  padding-right: 250px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: thistle;
}
.question4 {
  padding-bottom: 20px;
  padding-right: 250px;
  padding-top: 20px;
  padding-left: 25px;
  background-color:lightgrey;
}
.question5 {
  padding-bottom: 20px;
  padding-right: 250px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: thistle;
}
.results{
  padding-bottom: 20px;
  padding-right: 200px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: white;
  font-size: xx-large;}

#Csharp {
  display: none;
}
#python {
  display: none;
}
#swift {
  display: none;
}
#javascript {
  display: none;
  
}

