.jumbotron {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: wheat;
  border-radius: 25px;
}
.intro {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.quizHeader {
  margin: auto;
  margin-bottom: 15px;
  width: 250px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightseagreen;
  border: 3px solid black;
}
h6 {
  background-color: black;
  border: 3px solid black;
  margin: 15px;
}
.intro {
  font-family: Arial, Helvetica, sans-serif;
}
.questionHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.question1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: thistle;
  border-radius: 25px;
}
.question2 {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: lightgrey;
  border-radius: 25px;
}
.btn {
  margin-bottom: 25px;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.4);
}
.results{
  text-indent: 5%;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  font-weight: bolder;
  background-color: lightgrey;
  color: black;
  margin: 20% auto;
  padding: 25px;
  border: 2px solid black;
  width: 75%;
}
.close {
  color: darkgrey;
  float: right;
  font-size: 28px;
  font-weight: bold;

}
.close:hover,
.close:focus {
  color:black;
  cursor: pointer;
}
#Csharp {
  display: none;
}
#python {
  display: none;
}
#swift {
  display: none;
}
#javascript {
  display: none;  
}

