.jumbotron {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: wheat;
}
.intro {
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.quizHeader {
  margin: auto;
  margin-bottom: 25px;
  width: 250px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightseagreen;
  border: 3px solid black;
}
.intro {
  font-family: Arial, Helvetica, sans-serif;
}
.questionHeading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.question1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: thistle;
}
.question2 {  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: lightgrey
}
.btn {
  margin-bottom: 25px;
}
.results{
  padding-bottom: 20px;
  padding-right: 25px;
  padding-top: 20px;
  padding-left: 25px;
  background-color: white;
  font-size: xx-large;}
#Csharp {
  display: none;
}
#python {
  display: none;
}
#swift {
  display: none;
}
#javascript {
  display: none;  
}

